<form method="post" action="upload">
  <div class="mb-3">
    <label for="name" class="form-label">Tên Khóa Học</label>
    <input type="text" class="form-control" name="name" value="" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <input type="text" class="form-control" value="" name="description" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Tạo Khóa Học</button>
</form>